<div id="userid" style="display: none;">
    <%= locals.User_id||'' %>
</div>

<div id="nav-container">

    <div id="nav-bar">
        <div id="website-logo"><h5>Lancer</h5>
        </div>
        <nav id="nav-list">
            <li><a href="/home/<%= locals.User_id||'' %>" class="<%= locals.home||'' %>">Home</a></li>
            <li><a href="/orders/<%= locals.User_id||'' %>" class="<%= locals.userorders||'' %>">My orders</a></li>
            <li><a href="/wishlist/<%= locals.User_id||'' %>" class="<%= locals.wishlist||'' %>">Wishlist</a></li>
            <li><a href="#" id="profile-icon" class="<%= locals.profile||'' %>"><i class="fa  fa-user-circle-o" aria-hidden="true"></i></a></li>
        </nav>
        <div id="menu-icon">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
   </div>

</div>



<div id="profile-dropdown">
    <li><a href="/profile/<%= locals.User_id||'' %>"><%= locals.User_name||"login in" %> </a></li>
    <li><a href="/profile/<%= locals.User_id||'' %>">Profile</a></li>
    <li><a href="/postgig/<%= locals.User_id||'' %>">post gig</a></li>
    <!-- <li><a href="/aboutus">About</a></li> -->
    <li><a href="/">logout</a></li>
</div>

